@if (Server != null)
{
    <div>
        @Server.Name in @Server.City is
        <span
            style="color: @(Server.IsOnline ? "green" : "red")">@(Server.IsOnline ? "online" : "offline")
            </span>
        &nbsp;
        <button type="button" class="btn btn-secondary" @onclick="ChangeStatus">Turn On/Off</button>
    </div>
}

@code {

    private Server Server { get; } = new() { Name = "Server1", City = "Toronto" };

    private void ChangeStatus()
    {
        if (Server != null)
            Server.IsOnline = !Server.IsOnline;
    }

}